html {background-color:black;}

img {   
    margin: auto;
    max-height: 500px;
}

/*.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}*/

.visie {

    background-color:black;
    margin-left:auto;
    margin-right:auto;
}

.pictures-left {
    width:48%;
    float:left;
    margin:0 auto;
    background-color: black;
}

.info-right {
    background-color:black;
    margin-top:100px;
    margin-right:50px;
    height:100%;
    width:48%;
    float:right;
    color:white;
    text-align:left;
    font-size: 16px;
}

.fblogo {
    max-with:20px;
    max-height:21px;
}