html {
background-color:black;
background: url('../images/background/preview/compressed/hout3.png');
}

img {   
    margin: auto;
    max-width:90%;
    max-height: 80vh;
}

/*.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}*/

.visie {
    margin-left:auto;
    margin-right:auto;
    width: 100vw;
}

.pictures-left {
    width:48%;
    float:left;
    margin:0 auto;
}

.info-right {
    font-family: 'Segoe UI';
    margin-top:100px;
    margin-right:45px;
    height:100%;
    width:48%;
    float:right;
    color:white;
    text-align:left;
    font-size: 18px;
}

@media (max-width: 1050px) {
  .info-right {
    font-size:14px;
    margin-top:10px;
  }
}

@media (max-width: 680px) {
  .info-right {
    font-size:12px;
    margin-top:10px;
  }
}
@media (max-width: 480px) {
    .pictures-left {
        width:80%;
        margin-left:10%;
    }
    .info-right {
    font-size:10px;
    margin-top:10px;
    width:80%;
  }
}
  @media (max-width: 380px) {
   .pictures-left {
     width:80%;
     
    }
      
   .info-right {
    font-size:6px;
    margin-top:5px;
    width:80%;
  }
  }